<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Invoice Dashboard</ion-title>
    <ion-buttons slot="end" (click)="goHome()">
      <ion-icon name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <img src="assets/imgs/logo.png" alt="">
    <div class="listing">
      <div class="list-single" (click)="raiseInvoice()">
        <span><img src="assets/imgs/ic_transfer.svg" alt=""></span>
        <h4>Request Payment</h4>
      </div>
      <div class="list-single" (click)="viewInvoiceSentToUser()">
        <span><img src="assets/imgs/ic_transfer.svg" alt=""></span>
        <h4>View Sent Invoices</h4>
      </div>
      <div class="list-single" (click)="viewInvoicesSentToYou()">
        <span><img src="assets/imgs/ic_transfer.svg" alt=""></span>
        <h4>View Invoices Received</h4>
      </div>
    </div>
  </div>

</ion-content>