<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Connected Account</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="btn-right">
      <ion-icon name="more"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">
   
    <div class="listing">

      <div class="list-single" (click)="linkedAccount(cacc)" *ngFor="let cacc of cAccount">
        <span><img src="assets/imgs/ic_transfer.svg" alt=""></span>
        <h4>{{cacc.institution_name}}</h4>
      </div>

   
    </div>
  </div>
</ion-content>
