<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add New Payee</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <ion-list>
      <ion-item>
        <ion-input type="text" [(ngModel)]="user.payee_name"  placeholder="Payee Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="user.payee_mobile_number"  placeholder="Payee Mobile Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" [(ngModel)]="user.payee_email" placeholder="Payee Email"></ion-input>
      </ion-item>
           
	   <ion-item>
        <ion-input type="text" [(ngModel)]="user.payee_routing_number" placeholder="Payee Routing Number"></ion-input>
      </ion-item>
	  <ion-item>
        <ion-input type="text" [(ngModel)]="user.payee_account_number" placeholder="Payee Account Number"></ion-input>
      </ion-item>
	  <ion-item>
        <ion-input type="text" [(ngModel)]="user.payee_bank_name" placeholder="Payee Bank Name"></ion-input>
      </ion-item>
<!--       <ion-item>
        <ion-input type="text" placeholder="Country Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="IFSC Code"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Swift Code"></ion-input>
      </ion-item> -->
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-button (click)="addPayeeDetails()">proceed to add</ion-button>
</ion-footer>
