<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Privacy Policy</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div class="terms-privacy">
    <h2 class="sub-section-title">Ugocash, LLC Privacy Policy</h2>
    <br>
    <h3 class="sub-section-title">Overview</h3>

    <p>Ugocash LLC, and its subsidiaries and affiliates (collectively “ Ugocash”, “ we”, “us”, or “ our”)
        operate internationally. Ugocash is committed to ensuring that when we collect and use information
        about
        visitors to our websites (as described below) we do so in accordance with applicable data privacy
        laws.
        This Privacy Policy explains how we may use information that we obtain about you through your use of
        our
        websites and other sources (collectively, our “ Site”), including but not limited to:
        ugocash.com, The Privacy Policy: (i) provides you information as to how Ugocash collects and
        processes
        your Personal Data, through the use of the Site and any data you may provide through the Site, and
        (ii)
        outlines Ugocash ’s duties of Transparency under the “General Data Protection Regulation” or
        “GDPR”.</p>

    <p>For the purpose of applicable data protection legislation, the data controller of your Personal Data
        is
        Ugocash LLC.</p>
    <p>You can contact us by emailing legal@ugocash.com</p>

    <h3 class="sub-section-title">Marketing Communications Preferences</h3>
    <p>You may request us to stop sending you marketing messages at any time by following the opt-out links
        on
        any marketing message sent to you, by opting out on our website, or by contacting us at any time at
        legal@ugocash.com</p>

    <h3 class="sub-section-title">What Personal Data We Collect</h3>
    <p>When you use our Site or when we interact with you, the Personal Data we collect, may include:</p>
    <ul class="terms-privacy-list">
        <li>
            <strong>Contact Data, </strong>such as your name, job title, business address, telephone number,
            mobile phone number, fax number, email address, and social media profiles.
        </li>

        <li>
            <strong>Professional Data, </strong>such as job titles, previous roles, and professional
            experience and qualifications.
        </li>
        <li>
            <strong>Profile and Usage Data, </strong>including passwords to our Site or password protected
            platforms or services, your preferences in receiving marketing information from us, your
            communication preferences and information about how you use our Site including the services you
            viewed. To learn more about our use of cookies or similar technology please check our Cookies
            policy below.
        </li>
        <li>
            <strong>Technical Data, </strong>including, without limitation, Internet protocol (IP) address,
            your login data, browser type and version, time zone setting and location, browser plug-in types
            and versions, operating system and platform, and other technology on the devices you use to
            access our Site or use our services.
        </li>
        <li>
            <strong>Physical Access Data, </strong>relating to details of your visits to our premises.
        </li>

        <li>
            <strong>Sensitive Personal Data, </strong>In connection with the registration for and provision
            of access to an event or seminar, we may ask for information about your health for the purpose
            of identifying and being considerate of any disabilities or special dietary requirements you may
            have. Any use of such information is based on your consent and limited to providing you access
            to that event or seminar.
        </li>
    </ul>

    <p>When you enter our recruitment process, we may additionally collect the following Personal Data:</p>
    <ul class="terms-privacy-list">
        <li>
            <strong>Resume Data, </strong>Comprised of information submitted by you on your resume, cover
            letter, or other application materials.
        </li>

        <li>
            <strong>Government Data, </strong>Including background checks and other information to allow us
            to establish your right to work.
        </li>

        <li>
            <strong>Social Data, </strong>If you connect to us from a social network, such as LinkedIn or
            Facebook, we will collect Personal Data from the social network in accordance with your privacy
            settings on that social network. The connected social network may provide us with information
            such as your name, profile picture, network, gender, username, user ID, age or age range,
            language, country, friends list, follower list, and any other information you have agreed it can
            share or that the social network provides to us.
        </li>

        <li>
            <strong>Data from Third Parties, </strong>Including, without limitation, information from your
            references to whom you direct us or from third parties who recommend or suggest that we contact
            you.
        </li>
    </ul>

    <p>We also collect, use and share “Aggregated Data” such as statistical data for any purpose. Aggregated
        Data may be derived from your Personal Data, but once in aggregated form it will not constitute
        considered Personal Data for the purposes of the GDPR as this data does not directly or indirectly
        reveal your identity.</p>


    <h3 class="sub-section-title">Sensitive Personal Data</h3>
    <p>In connection with the registration for and provision of access to an event or seminar, we may ask
        for
        information about your health for the purpose of identifying and being considerate of any
        disabilities
        or special dietary requirements you may have. Any use of such information is based on your consent
        and
        limited to providing you access to that event or seminar.</p>
    <p>Except for the foregoing, we ask that you not send us, and you do not disclose to us, any Sensitive
        Personal Data (e.g., information related to racial or ethnic origin, political opinions, religion or
        other beliefs, health, biometrics or genetic characteristics, criminal background or trade union
        membership) on or through our Site or otherwise to us, unless specifically requested for a valid
        legal
        purpose.</p>


    <h3 class="sub-section-title">How We Use Your Personal Data</h3>
    <p>We will use the Personal Data listed above if and to the extent necessary to achieve the following
        the
        purposes:</p>

    <ul class="terms-privacy-list">
        <li>To provide our products and/or services in accordance with our contractual relationship with
            your
            organization.
        </li>
        <li>To manage and administer your organization’s relationship with us, including billing and
            collection,
            marketing, support services, or other steps linked to the performance of our business
            relationship.
        </li>
        <li>To comply with our legal and regulatory obligations, such as for anti-money laundering,
            financial
            and credit check, audit requirements, fraud and crime prevention and detection, and record
            keeping.
            This may include automated checks of Personal Data you or your organization provides about your
            identity against relevant databases and contacting you to confirm your identity or making
            records of
            our communications with you for compliance purposes.
        </li>
        <li>To analyze and improve our services and promote our business such as sending you publications
            and
            invites.
        </li>
        <li>Protecting the security of and managing access to our premises, IT and communication systems,
            online
            platforms, websites, and other systems, preventing and detecting security threats, fraud or
            other
            criminal or malicious activities.
        </li>
        <li>For insurance purposes.</li>
        <li>Where applicable, and only as permitted by law with respect to the specific category of Personal
            Data, to assess your application to join us or your or your organization’s ability to
            collaborate
            with us on a project.
        </li>
        <li>To comply with our legal and regulatory obligations and requests anywhere in the world,
            including
            reporting to and/or being audited by national and international regulatory bodies.
        </li>
        <li>To comply with court orders and/or to exercise and/or defend our legal rights.</li>
        <li>To assist or enhance your experience at an event, for example, details of your dietary
            requirements.
        </li>
        <li>To personalize and foster the quality of our communications and interaction with you.</li>
        <li>To market our products and services.</li>
        <li>To facilitate due diligence with third parties in connection with a transaction, such as a
            merger, a
            financing, or acquisition of all or a portion of our business or our acquisition of another
            business.
        </li>
        <li>For any other purposes related and/or ancillary to any of the above or any other purposes for
            which
            your Personal Data was provided to us.
        </li>
        <li>For our recruitment.</li>
    </ul>

    <h3 class="sub-section-title">Legal Basis for Our Use of Your Personal Data</h3>
    <p>We may process your Personal Data in connection with any of the purposes set out above on one or more
        of
        the following legal grounds:</p>

    <ul class="terms-privacy-list">
        <li>Because it is necessary for us to do so to perform our contract with you or your organization.
        </li>
        <li>To comply with our legal obligations as well as to keep records of our compliance processes or
            tax
            records.
        </li>
        <li>Because our legitimate interests, or those of a third-party recipient of your Personal Data,
            make
            the processing necessary, provided that those interests are not overridden by your interests or
            fundamental rights and freedoms; or
        </li>
        <li>Because you have expressly given us your consent to process your Personal Data in that manner.
        </li>
    </ul>

    <p>Specifically, we may use your Personal Data for the following purposes:</p>
    <ul class="terms-privacy-list">
        <li>
            <strong>Business Use, </strong>We use your Personal Data primarily to facilitate our ongoing and
            proposed business dealings with your organization. This includes, without limitation: (i)
            providing
            your organization with our products and/or services; (ii) registering you as a user of these
            products or services and granting you access to our Site; (iv) communicating with you about
            updates,
            maintenance, outages, or other technical matters concerning these products and/or services; (v)
            providing you with training and support regarding usage of these products and/or services; (vi)
            notifying you about changes to any of the policies and procedures for use of these products
            and/or
            services; (vii) verifying the accuracy of the Personal Information we have on file for you and
            your
            organization in relation to these products and/or services; and (viii) responding to questions
            or
            inquiries that you or your organization may have about our products and/or services. We also may
            use
            your Personal Data as required for us to comply with laws and regulations relating to the
            products
            or services that we provide in any of the jurisdictions in which Ugocash operates, and we may
            use
            Personal Data internally within Ugocash to help us improve our products or services, or to
            develop
            new products or services.
        </li>
    </ul>

    <p>We may also use your Personal Data to personalize the content of the Site and communications based on
        your preferences, and to comply with our legal or contractual obligations and to resolve disputes.
        Additionally, we may use your Personal Data to protect against or deter fraudulent, illegal, or
        harmful
        actions and to enforce our contractual agreements and other legal rights. In all cases in which our
        legal basis for processing is our legitimate interests or those of our clients or prospective
        clients,
        we will use your Personal Data for our legitimate interests provided that those interests are not
        overridden by your interests or fundamental rights and freedoms</p>
    <ul class="terms-privacy-list">
        <li>
            <strong>Marketing, </strong>With your consent or as otherwise permitted by applicable law, we
            may
            use your Personal Data for purposes relating to the marketing of our content, products, and
            services, or those of our business partners. This includes, without limitation: (i) sending you
            newsletters, press releases, event announcements, and other similar communications regarding the
            products or services that we offer; (ii) marketing or promoting our products and/or services to
            your
            organization, including by offering your organization limited access to certain of our products
            and/or services; (iii) soliciting feedback from you regarding improvement of our products and/or
            services; and (iv) other purposes that we disclosed to you at the time we obtained your consent.
            If
            you have not opted in to our providing you with information promoting our business, we will use
            your
            Personal Data for our legitimate interests provided that those interests are not overridden by
            your
            interests or fundamental rights and freedoms (e.g., if you are a client for news and updates).
            We
            will give you the opportunity to opt out at any time.
        </li>

        <li>
            <strong>Recruitment, </strong>If you apply to join us, we will be processing your Personal Data
            based on your application and consent.
        </li>

        <li>
            <strong>Business partners, </strong>If you are engaged by us to provide services or supplies, or
            you wish to be, our processing your Personal Data will be necessary for determining whether the
            potential collaboration is feasible, for the performance of a contract, or for our other
            legitimate
            interests.
        </li>
    </ul>

    <p>We will not use your Personal Data for taking any automated decisions affecting or creating profiles
        other than as described above.</p>

    <h3 class="sub-section-title">Sharing and Transferring Your Personal Data</h3>
    <p>Ugocash and our service providers are in numerous locations around the world. We may share your
        Personal
        Data:</p>
    <ul class="terms-privacy-list">
        <li>Within Ugocash</li>
        <li>With third parties including certain service providers we have retained in connection with the
            products and/or services we provide, such as online storage providers, consultants, lawyers, or
            other necessary entities.
        </li>
        <li>On a confidential basis with third parties to help us provide, improve, and promote our products
            and/or services.
        </li>
        <li>With companies providing services for money laundering and terrorist financing checks, credit
            risk
            reduction and other fraud and crime prevention purposes and companies providing similar
            services,
            including financial institutions, credit reference agencies and regulatory bodies with whom such
            Personal Data is shared.
        </li>
        <li>With courts, law enforcement authorities, regulators, or government officials, and/or with other
            parties where it is reasonably necessary for the establishment, exercise, or defense of a legal
            or
            equitable claim.
        </li>
        <li>With service providers who we engage to process Personal Data for any of the purposes listed
            above
            on our behalf and in accordance with our instructions only.
        </li>
        <li>If we raise any capital or seek additional funding, we may disclose your Personal Data with a
            prospective investor or lender; and
        </li>
        <li>If we sell or buy any business or assets, we may disclose your Personal Data to the prospective
            seller or buyer of such business or assets to whom we assign or novate any of our rights and
            obligations.
        </li>
    </ul>

    <p>The Personal Data we collect may therefore be collected, transferred to, and stored in countries
        outside
        of the jurisdiction you are in. Any international transfers of your Personal Data are made pursuant
        to
        appropriate safeguards, such as standard data protection clauses adopted by the European Commission.
        If
        you wish to enquire further about these safeguards used, please contact us using the details set out
        at
        the end of this Privacy Policy.</p>
    <p>We do not sell, rent or otherwise make Personal Data commercially available to any third party,
        except
        with your prior permission.</p>

    <h3 class="sub-section-title">Refusal to Provide Necessary Personal Data</h3>
    <p>Where we require your Personal Data (i) to provide the products and services contracted by your
        organization, (ii) to further a professional relationship, venture, or other collaboration, or (iii)
        to
        comply with applicable law or regulation, and where you fail to provide that data when requested, we
        may
        not be able to provide our products and/or services to your organization or to collaborate with you
        or
        your organization.</p>

    <h3 class="sub-section-title">Cookies and Other Tracking Technologies</h3>
    <p>What are Cookies?</p>
    <p>Ugocash collects information using “cookies”. A cookie is a small piece of data sent from a website
        and
        stored on the user’s computer by the user’s web browser while the user is browsing. We may use both
        session cookies that expire once you close your web browser, and persistent cookies that stay on
        your
        computer or mobile device until you delete them to provide you with a more personal and interactive
        experience on our Site. For instance, when we use a cookie to identify you, you may not have to
        login a
        password more than once, thereby saving time while on our Site. Cookies can also enable us to track
        and
        target the interests of our users to enhance the experience on our Site.</p>
    <p>We use different categories of cookies, including first-party cookies that are served directly by us
        to
        your computer or mobile device, and third-party cookies that are served by others through our Site.
        We
        use first-party and third-party cookies for a number of reasons. Some cookies are needed for
        technical
        reasons for our Site to operate, which are referred to as “essential” or “strictly necessary”
        cookies.
        Other cookies enable us to track and target the interests of our users to enhance the experience on
        our
        Site. In addition, third parties may serve cookies through our Site for advertising, analytics, and
        other purposes, as described in more detail below.</p>

    <h3 class="sub-section-title">Cookies We Use</h3>
    <p>Our Site uses the following types of cookies for the purposes described below:</p>

    <div class="table-responsive">
        <table class="table table-sm table-borderless">
            <thead>
            <tr>
                <th>COOKIE NAME</th>
                <th>PURPOSE</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>_ga*</td>
                <td>Google Analytics tracking</td>
            </tr>

            <tr>
                <td>Cookies accepted</td>
                <td>Suppress pop up on revisit</td>
            </tr>

            <tr>
                <td>Read manifesto</td>
                <td>Suppress need to fill form on revisit</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3 class="sub-section-title">Consent to Cookies</h3>
    <p>If you continue to use our Site, we assume that you consent to receive cookies from our Site.
        However, if
        you would prefer to change your cookie settings, you can do so at any time as described below in
        “Changing Cookie Settings”.</p>

    <h3 class="sub-section-title">Changing Cookie Settings</h3>
    <p>Most browsers automatically accept cookies unless you change your Internet browser settings. If you
        wish
        to restrict, block, or delete the cookies set by our Site, you can generally do this through your
        browser settings. The settings are usually found in the “options” or “preferences” menu of your
        Internet
        browser. If you set your Internet browser preferences to block all cookies, you may not be able to
        access all or parts of our Site.</p>
    <p>If you delete cookies relating to our Site, certain information about you will not be saved for
        future
        use, including your cookie preferences, and you may be treated as a new visitor to our Site the next
        time you visit the Site. This can impact your experience on our Site.</p>
    <p>To find out more about cookies, including how to see what cookies have been set and how to manage and
        delete them, visit www.allaboutcookies.org.</p>

    <h3 class="sub-section-title">Third-Party Website Cookies</h3>
    <p>Our Site links through to third-party websites (including, for example, for news-related purposes,
        social
        media, software artifact repositories, user registration and authentication, product documentation,
        customer support), which may also use cookies over which we have no control. If you wish to receive
        information about how these third-party websites use your cookies, please check the relevant third
        party’s privacy policies for information about any cookies that may be used.</p>

    <h3 class="sub-section-title">Other Tracking and Analytics Information</h3>
    <p>Sila’s use of other tracking and analytics software that may collect information from you is provided
        below.</p>

    <ul class="terms-privacy-list">
        <li>
            <strong>Do Not Track Policy, </strong>Your browser may offer “Do Not Track” functionality, which
            allows you to notify websites that you do not wish operators to track certain online activities.
            Sila does not support Do Not Track requests at this time.
        </li>

        <li>
            <strong>Site Analytics, </strong>Analytics and performance cookies are used to gather
            information
            about traffic to our Site. The information includes the number of visitors to our Site, the
            websites
            that referred visitors to our Site, the pages visited on our Site, and other similar information
            collected by analytics applications used on our Site (e.g., Google Analytics). We use the
            analytics
            information obtained to improve our Site and our product and service offerings. The information
            generated about your use of our Site may be transferred and saved to a vendor’s server. You can:
            (i)
            find out more information about Google Analytics cookies here, (ii) find out more about how
            Google
            protects your data here, and (iii) prevent the use of Google Analytics relating to your use of
            our
            Site by downloading and installing the browser plugin available here.
        </li>

        <li>
            <strong>Web Beacons, </strong>A web beacon, also known as a clear gif, is one of various
            techniques used on web pages or email, to unobtrusively (usually invisibly) allow checking that
            a
            user has accessed some content, such as an email. We may use web beacons to better manage our
            Site
            by informing us as to what Site content is effective. Web beacons are also used to understand
            whether users read email messages and click on links contained within those messages so we can
            deliver content that is relevant to users. Our web beacons may collect certain contact
            information
            (e.g., an email address associated with a message that contains a web beacon). We may tie the
            information gathered by web beacons in emails to our customers’ Personal Data.
        </li>

        <li>
            <strong>Embedded Scripts, </strong>An embedded script is programming code that is designed to
            collect information about your interactions with our Site, such as which links within our Site
            you
            click on, which type of browser or device you use (e.g., mobile or desktop version). We use such
            information to enhance the user experience of our Site. This code is downloaded onto your device
            when you access our Site and is deactivated or deleted when you leave our Site.
        </li>

    </ul>

    <h3 class="sub-section-title">How We Keep Your Personal Data Secure</h3>
    <p>We will take reasonable precautions to protect your Personal Data in our possession from loss,
        misuse,
        and unauthorized access or disclosure. While we strive to secure your Personal Data, we cannot
        warrant
        or guarantee that this information will be protected under all circumstances, including those beyond
        our
        reasonable control.</p>
    <p>We have put in place procedures to deal with any actual or suspected Personal Data breach. In the
        event
        of any such breach, we have procedures in place to work with applicable regulators. In addition,
        where
        we are legally required to do so, we will notify you of breaches affecting your Personal Data.</p>

    <h3 class="sub-section-title">How Long We Retain Your Personal Data</h3>
    <p>Your Personal Data will be retained for so long as we reasonably need to use it for the purposes set
        out
        above. In some cases, we retain Personal Data for longer, if doing so is necessary to comply with
        our
        legal obligations, resolve disputes, or collect fees owed, or is otherwise permitted or required by
        applicable law, rule, or regulation. Afterwards, we may retain some information in a depersonalized
        or
        aggregated form, but not in a way that would identify you personally.</p>

    <h3 class="sub-section-title">Your Rights Regarding Your Personal Data</h3>
    <p>By law you have the right to:</p>

    <ul class="terms-privacy-list">
        <li>To request details of the Personal Data we hold about you and how we process it.</li>
        <li>To have the Personal Data we hold rectified or deleted, to restrict our processing of that
            information, to stop unauthorized transfers of your Personal Data to a third party and, in some
            circumstances, to have Personal Data relating to you transferred to another organization.
        </li>
        <li>To withdraw consent to our processing of your Personal Data.</li>
        <li>To lodge a complaint in relation to Ugocash ’s processing of your Personal Data with a local
            supervisory authority.
        </li>
    </ul>

    <p>You can learn more about these rights at ec.europa.eu.</p>

    <p>If you object to the processing of your Personal Data, or if you have provided your consent to
        processing
        and you later choose to withdraw it, we will respect that choice in accordance with our legal
        obligations.</p>

    <p>Your objection (or withdrawal of any previously given consent) could mean that we are unable to
        perform
        the actions necessary to achieve the purposes set out above (see “How We Use Your Personal Data”),
        or
        that you may not be able to make use of the services and products offered by Sila. Please note that
        even
        after you have chosen to withdraw your consent we may be able to continue to process your Personal
        Data
        to the extent required or otherwise permitted by law, in particular in connection with exercising
        and
        defending our legal rights or meeting our legal and regulatory obligations. If you have provided
        your
        consent and wish to withdraw your consent, please follow the opt-out links on any marketing message
        sent
        to you or contact us at legal@ugocash.com.</p>
    <p>Once we have received notification that you have withdrawn your consent, we will no longer process
        your
        information for the purpose(s) to which you originally consented, unless there are compelling
        legitimate
        grounds for further processing which override your interests, rights, and freedoms or for the
        establishment, exercise, or defense of legal claims. Withdrawal of consent to receive marketing
        communications will not affect the processing of Personal Data necessary for us to provide products
        or
        services to you necessitated by any contractual relationship you or your firm has with Ugocash.</p>
    <p>We must ensure that your Personal Data is accurate and up to date, where relevant. Therefore, please
        advise us of any changes to your information by emailing us at legal@ugocash.com</p>
    <p>If you would like to make a complaint regarding this Privacy Policy or our practices in relation to
        your
        Personal Data, please contact us at legal@ugocash.com. We will reply to your complaint as soon as we
        can.</p>
    <p>If you feel that your complaint has not been adequately resolved, please note that the GDPR gives you
        the
        right to contact your local data protection supervisory authority.</p>

    <h3 class="sub-section-title">Minors</h3>
    <p>We do not intentionally collect or solicit data relating to anyone under the age of 16. If we learn
        that
        we have the Personal Data of a minor under 16, we will attempt to delete the information as soon as
        possible. If you believe that we might have any Personal Data from a minor under 16, please contact
        us
        at legal@ugocash.com</p>

    <h3 class="sub-section-title">The Internet</h3>
    <p>Our Site may contain links to other sites. Please be aware that we are not responsible for the
        content or
        privacy practices of such other sites. We encourage our users to be aware when they leave our site
        and
        to read the privacy statements of any other site that collects personally identifiable
        information.</p>

    <h3 class="sub-section-title">California Privacy Rights</h3>
    <p>If you are a resident of the State of California, under the California Consumer Privacy Act (CCPA),
        you
        have the right to request information on how to exercise your disclosure choice options from
        companies
        conducting business in California. Specifically:</p>

    <ul class="terms-privacy-list">
        <li><strong>Exercising the right to know, </strong> You may request, up to twice in a 12-month
            period,
            the following information about the personal information we have collected about you during the
            past
            12 months:
        </li>
        <li>
            <ul class="terms-privacy-list">
                <li>The categories and specific pieces of personal information we have collected about
                    you.
                </li>
                <li>The categories of sources from which we collected the personal information.</li>
                <li>The business or commercial purpose for which we collected the personal information.</li>
                <li>The categories of third parties with whom we shared the personal information; and</li>
                <li>The categories of personal information about you that we disclosed for a business
                    purpose,
                    and the
                    categories of third parties to whom we disclosed that information for a business
                    purpose.
                </li>
            </ul>
        </li>

        <li><strong>Exercising the right to delete, </strong> You may request that we delete the personal
            information we have collected from you, subject to certain limitations under applicable law.
        </li>
        <li><strong>Exercising the right to opt-out from a sale, </strong> You may request to opt out of any
            “sale” of your personal information that may take place.
        </li>
        <li><strong>Non-discrimination, </strong> The CCPA provides that you may not be discriminated
            against
            for exercising these rights.
        </li>
    </ul>

    <p>To submit a request to exercise any of the rights described above, you may contact Ugocash either via
        email to legal@ugocash.com or contact us via postal mail, proper postage prepaid, at:</p>
    <p>Ugocash, LLC, Attn: Your California Privacy Rights</p>
    <p>920 SW 6th Avenue, 12th Floor, Portland, Oregon 97204.</p>

    <p>Please indicate your preference as to how you would like us to respond to your request (i.e., email
        or
        postal mail).</p>
    <p>All requests sent via postal mail must be labeled “Your California Privacy Rights” on the envelope or
        postcard and clearly stated on the actual request. For all requests, please include your name,
        street
        address (if you would like a response via postal mail), city, state, and zip code. We may need to
        verify
        your identity before responding to your request, such as verifying that the email address or contact
        information from which you send the request matches your email address or contact information that
        we
        have on file. Authentication based on a government-issued and valid identification document may be
        required. We will not accept requests via telephone or fax. We are not responsible for notices that
        are
        not labeled or sent properly, or do not have complete information.</p>

    <h3 class="sub-section-title">Your Consent</h3>
    <p>By submitting or providing to us your Personal Data, you consent to the use of that information as
        set
        out in this Privacy Policy.</p>
    <p>If you apply for employment or work placement, you may need to provide information about your
        education,
        employment, right to work, and state of health. Your application will constitute your express
        consent to
        our use of this information to assess your application and to allow us to carry out any vetting or
        monitoring activities, which may be required of us under applicable law as an employer, and which we
        may
        undertake to assist us to monitor delivery of our own commitments to diversity and equality.</p>

    <h3 class="sub-section-title">This Privacy Policy</h3>
    <p>We may need to revise this Privacy Policy in the future. If we change our Privacy Policy we will post
        the
        changes on this page so that you may be aware of the information we collect and how we use it at all
        times. This Privacy Policy was last updated on February 28,2020. You should therefore review this
        page
        regularly to ensure that you are aware of any changes to its terms. If you have any questions about
        this.</p>

    <p>Privacy Policy, please contact legal@ugocash.com. Any security concerns should be reported to
        security@ugocash.com</p>

    <h3 class="sub-section-title">Our Partner’s Privacy Policy</h3>
    <p>Sila is a partner of Evolve Bank &amp; Trust (Evolve), member FDIC. Our relationship with Evolve, enables
        us
        to offer banking services and products. By agreeing to Ugocash Evolve Bank and Trust:
        <a href="https://ugocash.com/home/privacy-policy">https://ugocash.com/home/privacy-policy</a></p>
</div>

</ion-content>
