.ion-padding {
  padding: 20px 26px;
  ion-list {
    ion-item {
      font-size: 15px;
      --border-color: white;
      border: 1px solid #39b0ec;
      border-radius: 25px;
      margin-bottom: 8px;
      --min-height: 44px;
      padding-left: 8px;
      ion-input {
        font-family: "Work Sans", sans-serif;
      }
    }
  }
  ion-button {
    font-size: 0.8rem;
    margin-top: 0!important;
  }
  .btn-block {
    width: 70%!important;
  }
  h4 {
    font-size: 17px;
    color: #259ad6;
  }
  h5 {
    font-size: 16px;
  }
  .content-top {
    margin-bottom: 25px;
  }
  .content-mid {
    margin-bottom: 25px;
  }
  .content-end {
    margin-bottom: 30px;
  }
  .ion-text-center {
    ion-button {
      margin-top: 30px!important;
    }
  }
}
