<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Connected People</ion-title>
    <ion-buttons slot="end" class="btn-right" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="block_wrapper">
    <ion-row>
 
 
      <ion-col size="6" *ngFor="let info of renderData" (click)="selectedAccount(info)">
        <div class="single-block">
          <img src="assets/imgs/user.svg" alt="">
           <h6>{{info.first_name}} {{info.last_name}}</h6>
        </div>
      </ion-col>
     
    </ion-row>
    
  </div>
 </ion-content>
 
