<ion-content>
   <div class="ion-padding">
     <img src="assets/imgs/logo.png" alt="">
     <ion-button (click)="registercontact()">Register</ion-button>
     <ion-button (click)="login()">Login</ion-button>
     <!-- <ion-button class="btn-transparent">Check Rate</ion-button> -->
     <p>By proceeding you agree to our
       <ion-button class="btn-transparent" (click)="termOfUse()">Terms of Use</ion-button>
       and <ion-button class="btn-transparent" (click)="privacy_policy()">Privacy Policy</ion-button></p>
   </div>
</ion-content>
