<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Account</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <h5 style="text-align:center;">Balance: ${{wallet_amount}}</h5>
  <!--   <ion-list>
      <ion-item>
        <ion-select placeholder="Select Account Number"  [(ngModel)]="bank.bank_name" >
          <ion-select-option   *ngFor="let acdetails of accountDetails"  value="{{acdetails.payee_bank_name}}" >{{acdetails.payee_bank_name}}</ion-select-option>
         
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="bank.bank_pin_number" type="number" placeholder="Enter your  pin for account number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="bank.deposit_amount" type="number" placeholder="Deposit Amount"></ion-input>
      </ion-item>
    </ion-list> -->
    <div class="ion-text-center">
      <ion-button class="btn-transparent">Add Money?</ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button (click)="addAmountToWallet()">Add Amount</ion-button>
</ion-footer>
