<ion-header>
  <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group name="institution">
      <ion-item *ngFor="let bank of allBanks|filter:filterTerm">
        <ion-label>{{bank.name}}</ion-label>
        <ion-radio value="{{bank.name.toLowerCase().replace(' ', '-')}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
<ion-footer>
  <div text-center inline>
    <ion-button (click)="goBack()" shape="round">
      Cancel
    </ion-button>
    <ion-button (click)="connectBank()" shape="round">
      OK
    </ion-button>
  </div>
</ion-footer>
