<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Term of Use</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="terms-privacy">
    <h3 class="sub-section-title">Supported by Evolve Bank &amp; Trust</h3>
    <p>Last Updated as of: May 15, 2021</p>

    <p>
        This Ugocash Terms of Service Agreement (“Agreement”) is a legal agreement between Ugocash, Inc. and
        our affiliates or subsidiaries (collectively “Ugocash,” “we,” “us,” or “our”) and the entity or
        person (“you”, “your”, or “user”) who registered with Ugocash to receive certain platform, data,
        technology and analytics services, as well as other business services that may be offered by Ugocash
        and its third party providers (each, a “Service”). This Agreement describes the terms and conditions
        that apply to your use of the Services and our website.
    </p>

    <p>
        Welcome to the Ugocash website (the “Website”). By accessing or using any Services and/or the
        website, you indicate that you have read and understand this Agreement and agree to be bound by it.
        You must accept the terms of the Agreement in order to access or use any Services and/or the
        Website. If you do not understand or have questions about the Agreement, immediately stop all access
        and use of the Services and/or the website and contact us at legal@Ugocash.com before accessing,
        using the Services and/or the Website.
    </p>

    <p>
        You may not access or use any Services or our Website unless you agree to abide by all of the terms
        and conditions in this Agreement.
    </p>

    <p>
        This Agreement may periodically change without notice, so you should check the Agreement before
        every attempt to use the website. When the Agreement is changed, the date of the latest revision
        will appear at the top of this page.
    </p>

    <p>
        <em>NOTICE OF BINDING ARBITRATION</em>
    </p>
    <p>
        <em>ANY CLAIM, DISPUTE OR CONTROVERSY OF WHATEVER NATURE ARISING OUT OF OR RELATING TO THE TERMS OF
            SERVICE SHALL BE RESOLVED BY FINAL AND BINDING ARBITRATION IN ACCORDANCE WITH THE PROCESS
            DESCRIBED IN THE SECTION TITLED “BINDING ARBITRATION” BELOW. PLEASE READ PART F, TITLED “BINDING
            ARBITRATION” CAREFULLY.
        </em>
    </p>

    <h3 class="sub-section-title">PART A – Website Terms and Conditions</h3>
    <h3 class="sub-section-title">User Conduct</h3>
    <p>You agree that you will not use the Website for any illegal purpose. In addition, you agree that:</p>

    <ol class="terms-privacy-list" type="1">
        <li>You will not harvest, collect or otherwise use any information made available on the website for
            the purpose of sending unsolicited improper communications, including without limitation,
            unsolicited bulk email (collectively, spam) and that you will not use any Ugocash communications
            facility to deliver or attempt to deliver spam.
        </li>

        <li>You will not attempt to gain unauthorized access to the website or the servers and network
            associated with the Website.
        </li>

        <li>You will not circumvent or attempt to circumvent any security or access control technology
            implemented on the website, or the servers and network associated with the Website.
        </li>

        <li>You will not use the website in any manner designed to degrade the performance or functioning of
            the Website, including, without limitation, launching Denial-of-Service (DoS) attacks against
            the Website.
        </li>
    </ol>

    <h3 class="sub-section-title">Copyright</h3>
    <p>Ugocash claims a copyright in its works presented at this Website. Ugocash authorizes you to view,
        copy, download and print Ugocash materials on this website, subject to the following conditions:</p>

    <ul class="terms-privacy-list">
        <li>The materials may be used solely in accordance with the terms and conditions of this Agreement
            and subject to the Master Services Agreement entered into between you and Ugocash (if any).
        </li>

        <li>The documents may not be modified</li>
    </ul>

    <p>The following copyright notice and permission notice must appear in each document: “© Copyright
        2018-2020 Ugocash Inc., and its Affiliates. All rights reserved.”</p>

    <h3 class="sub-section-title">No Warranties and Limitation of Liability</h3>
    <p>
        Information provided on the website is provided “as is” without warranty of any kind, either express
        or implied, including without limitation, warranties of merchantability, fitness for a particular
        purpose or noninfringement. Ugocash periodically adds changes, improves or updates the information
        and documents on the website without notice. Ugocash assumes no liability or responsibility for any
        errors or omissions in the content of the website. Your use of the Website is at your own risk.
        Under no circumstances and under no legal theory shall Ugocash, its third party providers or any
        other party involved in creating, producing or delivering the website’s contents be liable to you or
        any other person for any indirect, special, incidental or consequential damages of any character
        arising from your access to, or use of, the Website.
    </p>

    <h3 class="sub-section-title">Links to Third Party Sites</h3>
    <p>If you use any links on the Website to websites not maintained by Ugocash, you will leave the Ugocash
        website. The linked sites are not under the control of Ugocash and Ugocash is not responsible for
        the contents of any linked site or any link contained on a linked site. Ugocash provides these links
        to you only as a convenience and the inclusion of any link does not imply recommendation, approval
        or endorsement by Ugocash of the site.</p>

    <h3 class="sub-section-title">Service Marks – Permitted Use of Ugocash Marks</h3>
    <p>Ugocash marks identify Ugocash products and services and let the public know the source of those
        products and services. You may not use the Ugocash logos or “design” marks (as opposed to our
        service marks consisting solely of words) under any circumstances without our prior written
        authorization.</p>

    <h3 class="sub-section-title">PART B – General Terms</h3>
    <p>1. Overview of this Agreement</p>

    <p>This Agreement provides a general description of the Services that Ugocash or its third party
        providers may provide to you (“Customers”) and your customers (“End Users”). We provide you with a
        more detailed description of the Services through published software libraries and application
        programming interfaces that may be used to access the Services (the “API”) and additional resources
        we make available to you on our website or through our GitHub depository.
    </p>

    <p>Before using the Services, you must register with Ugocash and create an account (a “Ugocash
        Account”).</p>
    <p>Part B describes the process of registering for and using your Ugocash Account.</p>
    <p>Part C describes your use of the API and the Services.</p>
    <p>Part D describes the Payment Processing Services, which are one type of Service provided by
        Ugocash.</p>
    <p>Part E describes proper handling, management, and use of data generated during your use of the
        Services, including your End Users’ data.</p>
    <p>Part F describes your liability to Ugocash for all losses connected with your Ugocash Account, your
        agreement to resolve all disputes with Ugocash by arbitration and not in a lawsuit, and other legal
        terms that apply to you.</p>

    <p>2. Additional Agreements incorporated herein that you may be subject to:</p>
    <p>Prior to using our Services, you should review the following agreements from our third-party
        providers which are hereby incorporated into this Agreement:</p>
    <p>Evolve Bank Deposit Agreement: If you use our services to open a deposit account, you must agree to
        our Terms of Service below and Evolve Bank’s Deposit Agreement found at
        https://www.Ugocas.com/Sila/evolve-bank-deposit-agreement.</p>
    <p>Plaid: The relevant agreements found at: https://plaid.com/legal/</p>
    <p>Alloy: The relevant agreements found at: https://alloy.co/legal/</p>

    <p>3. Your Ugocash Account</p>
    <p>Ugocash is solely a financial software provider between banks, investment advisors, and the financial
        technology companies using our services (“FinTech(s)”). We make it easy for FinTechs to provide
        certain banking services (e.g. bank transfers or accounts) to you as an agent of our bank partner,
        Evolve Bancorp, Inc., an Arkansas state banking corporation, and other financial institution
        partners that we may use from time to time (collectively “Banks”). Ugocash is an agent of Evolve
        Bancorp, Inc. (“Bank”) solely for the purposes of providing the Services (as defined below) under
        these Terms of Service and, if applicable, your Deposit Account Agreement with Bank.</p>

    <ol class="terms-privacy-list">
        <li>
            Registration and Permitted Activities: Only businesses (including sole proprietors), bona
            fide charitable organizations, and other entities or persons located in the United States are
            eligible to apply for a Ugocash Account to use the Services described in this Agreement. Ugocash
            and its affiliates may provide Services to you or your affiliates in other countries or regions
            under separate agreements. To register for a Ugocash Account you or the person or people
            submitting the application (your “Representative”) must provide us with your business or trade
            name, physical address, email, phone number, date of birth, social security number or tax
            identification number, URL, photo ID, or your account and routing numbers for your bank or
            credit union account (“Bank Account”), the nature of your business or activities, and certain
            other information about you that we require. You agree to update us if the information
            changes.We may also collect personal information (including name, birthdate, and
            government-issued identification number) about your beneficial owners, principals, and your
            Ugocash Account administrator. Until you have submitted, and we have reviewed and approved, all
            required information, your Ugocash Account will be available to you on a preliminary basis only,
            and we may terminate it at any time and for any reason. If you use payment services, your name
            (or the name used to identify you) and URL may appear on your End Users’ bank or other
            statements as provided by our third-party providers. To minimize confusion and avoid potential
            disputes, these descriptors must be recognizable to your End Users and must accurately describe
            your business or activities. You may only use payment services to facilitate Transactions (as
            defined below) with your End Users. You may not use payment services to conduct any personal
            transactions, or for any other purposes prohibited by this Agreement.
        </li>

        <li>
            Business Representative: You and your Representative individually affirm to Ugocash that (i)
            your Representative is authorized to provide the information described in this Part B.2 on your
            behalf and to bind you to this Agreement and (ii) your Representative is an executive officer,
            senior manager or otherwise has significant responsibility for the control, management or
            direction of your business. We may require you or your Representative to provide additional
            information or documentation demonstrating your Representative’s authority. Without the express
            written consent of Ugocash, neither you nor your Representative may register or attempt to
            register for a Ugocash Account on behalf of a user Ugocash previously terminated from use of the
            Services. If you are a sole proprietor, you and your Representative also affirm that your
            Representative is personally responsible and liable for your use of the Services and your
            obligations to Customers, including payment of any amounts owed under this Agreement.
        </li>

        <li>
            Validation: At any time during the term of this Agreement and your use of the Services, we
            may require additional information from you to verify beneficial ownership or control of the
            business, validate the information you provided, verify you or your Representative’s identity,
            and assess the risk associated with your business. This additional information may include
            copies of government-issued identification, business licenses, or other information related to
            your business, its beneficial owners or principals. If you use payment services, we may also
            request that you provide copies of financial statements or records pertaining to your compliance
            with this Agreement, or require you to provide a personal or company guarantee. Your failure to
            provide this information or material may result in suspension or termination of your Ugocash
            Account.You authorize us to retrieve information about you from our service providers and other
            third parties, including credit reporting agencies and information bureaus and you authorize and
            direct such third parties to compile and provide such information to us. You acknowledge that
            this may include your name, address(es), credit history, and other data about you or your
            Representative. You acknowledge that we may use your information to verify any other information
            you provide to us, and that any information we collect may affect our assessment of your overall
            risk to our business. You acknowledge that in some cases, such information may lead to
            suspension or termination of your Ugocash Account. Ugocash may periodically update this
            information as part of our underwriting criteria and risk analysis procedures.
        </li>

        <li>
            Authorization to debit your account: By using our Services to send funds via the Automated
            Clearing House (“ACH”) from your linked Bank Account(s) to your Deposit Account, Investment
            Account (as applicable), Platform or a third party, you authorize us (as agent of a third party
            and/or Bank) to debit the Bank Account indicated by you for the amount and on the date provided
            by you. You understand that because this will be an electronic transaction, and funds may be
            withdrawn from your account as soon as the above noted transaction date, you will not dispute,
            unless permitted by applicable law and regulations, your Ugocash, Bank, or other authorized
            third party debiting your account, so long as the Transaction corresponds to the terms indicated
            in the transaction form provided to you by Ugocash.
        </li>

        <li>
            Changes to Your Business, keeping your Ugocash Account Current: You agree to keep the
            information in your Ugocash Account current. You must promptly update your Ugocash Account with
            any changes affecting you, the nature of your business activities, your Representatives,
            beneficial owners, principals, or any other pertinent information. We may suspend your Ugocash
            Account or terminate this Agreement if you fail to keep this information current. You also agree
            to promptly notify us in writing no more than three days after any of the following occur: you
            are the subject of any voluntary or involuntary bankruptcy or insolvency application, petition
            or proceeding, receivership, or similar action (any of the foregoing, a “Bankruptcy
            Proceeding”); there is an adverse change in your financial condition; there is a planned or
            anticipated liquidation or substantial change in the basic nature of your business; you transfer
            or sell 25% or more of your total assets, or there is any change in the control or ownership of
            your business or parent entity; or you receive a judgment, writ or warrant of attachment or
            execution, lien or levy against 25% or more of your total assets.
        </li>
    </ol>

    <p>4. Your Relationship with your End Users</p>
    <p>You may only use the Services for legitimate Transactions with End Users (i.e., your Customers). You
        know your End Users better than we do, and you are responsible for your relationship with them.
        Ugocash is not responsible for the products or services you publicize or sell or if you accept
        donations, for your communication to your End Users of the intended use of such donations. You
        affirm that you are solely responsible for the nature and quality of the products or services you
        provide, and for delivery, support, refunds, returns, and for any other ancillary services you
        provide to your End Users.
    </p>

    <p>
        Ugocash provides Services to you but we have no way of knowing if any particular payment
        transaction, purchase, sale, donation, order, or other transaction (each a “Transaction”) is
        accurate or complete, or typical for your business. You are responsible for knowing whether a
        Transaction initiated by your End User is erroneous or suspicious. If you are unsure if a
        Transaction is erroneous or suspicious, you agree to research the Transaction and, if necessary,
        contact your End User before fulfilling or completing the Transaction. You are solely responsible
        for any losses you incur due to erroneous or fraudulent Transactions in connection with your use of
        the Services.
    </p>

    <p>5. Fees and Fines</p>
    <p>Ugocash will provide the Services to you at the rates and for the fees (“Fees”) described in our
        Pricing and incorporated into this Agreement. The Fees include charges for Transactions (such as
        processing a payment) and for other events connected with your Ugocash Account. We may revise the
        Fees at any time. However, we will provide you with at least 30 days’ advance notice before
        revisions become applicable to you (or a longer period of notice if this is required by applicable
        Law).</p>
    <p>In addition to the Fees, you are also responsible for any penalties or fines imposed in relation to
        your Ugocash Account on you or Ugocash by Ugocash or any third-party services provider resulting
        from your use of the Ugocash Services in a manner not permitted by this Agreement or applicable law,
        rules and regulations.</p>
    <p>You are also obligated to pay all taxes, fees and other charges imposed by any governmental authority
        (“Taxes”), including but not limited to any goods and services tax, sales tax and/or tax on the
        Services provided under this Agreement. If you are tax-exempt, you will provide us with an
        appropriate certificate or other evidence of tax exemption that is satisfactory to us.</p>

    <p>6. Services and Ugocash Account Support</p>
    <p>We will provide you with support to resolve general issues relating to your Ugocash Account and your
        use of the Services. This support includes resources and documentation that we make available to you
        through the current versions of Ugocash’s documentation and other pages on our website
        (collectively, “Documentation”). The most efficient way to get answers to your questions is to
        review our Documentation. If you still have questions after reviewing the Documentation, please
        contact us at legal@Ugocash.com.
    </p>
    <p>You are solely responsible for providing support to your End Users regarding your services, product
        or service delivery, support, returns, refunds, and any other issues related to your products and
        services and business activities. We are not responsible for providing support for the Services to
        your End Users unless we agree to do so in a separate agreement with you or one of your End
        Users.
    </p>

    <p>7. Taxes and Other Expenses</p>
    <p>Our fees are exclusive of any applicable Taxes, except as expressly stated to the contrary. You have
        sole responsibility and liability for: (i) determining what, if any, Taxes apply to the sale of your
        products and services, acceptance of donations, or payments you receive in connection with your use
        of the Services; and (ii) assessing, collecting, reporting, and remitting Taxes for your business to
        the appropriate tax and revenue authorities. If we are required to withhold any Taxes, or we are
        unable to validate any tax-related identification information you provide to us, we may deduct such
        Taxes from amounts otherwise owed and pay them to the appropriate taxing authority. If you are
        exempt from payment of such Taxes, you must provide us with an original certificate that satisfies
        applicable legal requirements attesting to your tax-exempt status. Upon our reasonable request, you
        must provide us with information regarding your tax affairs.
    </p>
    <p>We may send documents to you and tax authorities for Transactions processed using the Services.</p>

    <p>8. Service Requirements, Limitations and Restrictions</p>
    <ol class="terms-privacy-list">
        <li>Compliance with Applicable Laws: You must use the Services in a lawful manner, and must obey all
            laws, rules, and regulations (“Laws”) applicable to your use of the Services and to
            Transactions. As applicable, this may include compliance with domestic and international Laws
            related to the use or provision of financial services, notification and consumer protection,
            unfair competition, privacy, and false advertising, and any other Laws relevant to Transactions.
        </li>

        <li>Restricted Businesses and Activities: You may not use the Services to enable any person
            (including you) to benefit from any activities that Ugocash has identified as a restricted
            business, including but not limited to: (i) credit repair, (ii) debt consolidation, (iii) payday
            loans, (iv) title loans, (v) telemarketing, (vi) tobacco sales, (vii) travel clubs, (viii)
            sweepstakes, (ix) marijuana or controlled substance supply, (x) tribal and entities that are not
            governed by the U.S. or states, (xi) mail order or telephone order companies, (xii) business
            located outside of the U.S, (xiii) adult entertainment, (xiv) stored value cards, (xv) illegal
            or fraudulent goods or services, including, but not limited to, illegal substances, counterfeit
            goods, stolen goods, illegal or controlled substances, and substances that pose a risk to
            consumer safety (including synthetics, “potpourri not for human consumption”, and other similar
            items), illegal online gambling / wagering, pyramid schemes, counterfeit goods, unlicensed sale
            of firearms or weapons, (xvi) any type of money laundering, or (xvii) other businesses that
            operate or engage in any business regulated by FinCEN, including money service businesses,
            e-money business, and businesses selling money orders or traveler’s checks, and virtual or
            crypto-currency marketplaces and exchanges (collectively, “Restricted Businesses”). Restricted
            Businesses include use of the Services in or for the benefit of a country, organization, entity,
            or person embargoed or blocked by any government, including those on sanctions lists identified
            by the United States Office of Foreign Asset Control (OFAC).Please review the list of thoroughly
            before registering for and opening a Ugocash Account. If you are uncertain whether a category of
            business or activity is restricted or have questions about how these restrictions apply to you,
            please contact us at legal@Ugocash.com. We may add to or update the Restricted Business list at
            any time.
        </li>

        <li>Other Restricted Activities: You may not use the Services to facilitate illegal Transactions or
            to permit others to use the Services for personal, family or household purposes. In addition,
            you may not allow, and may not allow others to: (i) access or attempt to access non-public
            Ugocash systems, programs, data, or services; (ii) copy, reproduce, republish, upload, post,
            transmit, resell, or distribute in any way, any data, content, or any part of the Services,
            Documentation, or our website except as expressly permitted by applicable Laws; (iii) act as
            service bureau or pass-through agent for the Services with no added value to Customers; (iv)
            transfer any rights granted to you under this Agreement; (v) work around any of the technical
            limitations of the Services or enable functionality that is disabled or prohibited; (vi) reverse
            engineer or attempt to reverse engineer the Services except as expressly permitted by Laws;
            (vii) perform or attempt to perform any actions that would interfere with the normal operation
            of the Services or affect use of the Services by our other users; or (ix) impose an unreasonable
            or disproportionately large load on the Service.
        </li>
    </ol>

    <p>9. Suspicion of Unauthorized or Illegal Use</p>
    <p>We may refuse, condition, or suspend any Transactions that we believe: (i) may violate this Agreement
        or other agreements you may have with Ugocash; (ii) are unauthorized, fraudulent or illegal; or
        (iii) expose you, Ugocash, or others to risks unacceptable to Ugocash. If we suspect or know that
        you are using or have used the Services for unauthorized, fraudulent, or illegal purposes, we may
        share any information related to such activity with the appropriate financial institution,
        regulatory authority, or law enforcement agency consistent with our legal obligations.
    </p>
    <p>This information may include information about you, your Ugocash Account, your End Users, and
        Transactions made through your use of the Services.
    </p>

    <p>10. Disclosures and Notices; Electronic Signature Consent</p>
    <ol class="terms-privacy-list">
        <li>Consent to Electronic Disclosures and Notices: By registering for a Ugocash Account, you
            agree that such registration constitutes your electronic signature, and you consent to
            electronic provision of all disclosures and notices from Ugocash (“Notices”), including those
            required by Law. You also agree that your electronic consent will have the same legal effect as
            a physical signature.
        </li>

        <li>Methods of Delivery: You agree that Ugocash can provide Notices regarding the Services to you
            through our website or through the Dashboard (as defined below), or by mailing Notices to the
            email or physical addresses identified in your Ugocash Account. Notices may include
            notifications about your Ugocash Account, changes to the Services, or other information we are
            required to provide to you. You also agree that electronic delivery of a Notice has the same
            legal effect as if we provided you with a physical copy. We will consider a Notice to have been
            received by you within 24 hours of the time a Notice is either posted to our website, mailed, or
            emailed to you.
        </li>

        <li>SMS and Text Messages: You authorize us to provide Notices to you via text message to allow us
            to verify your or your Representative’s control over your Ugocash Account (such as through
            two-step verification), and to provide you with other critical information about your Ugocash
            Account. Standard text or data charges may apply to such Notices. Where offered, you may disable
            text message notifications in the Developer Dashboard by responding to any such message with
            “STOP”, or by following instructions provided in the message. However, by disabling text
            messaging, you may be disabling important Security Controls (as defined below) on your Ugocash
            Account and may increase the risk of loss to your business.
        </li>

        <li>Requirements for Delivery: You will need a computer or mobile device, Internet connectivity, and
            an updated browser to access your Developer Dashboard and review the Notices provided to you. If
            you are having problems viewing or accessing any Notices, please contact us at
            support@Ugocash.com and we can find another means of delivery.
        </li>

        <li>Withdrawing Consent: Due to the nature of the Services, you will not be able to begin using
            the Services without agreeing to electronic delivery of Notices. However, you may choose to
            withdraw your consent to receive Notices electronically by terminating your Ugocash Account.
        </li>
    </ol>

    <p>11. Term and Termination</p>
    <ol class="terms-privacy-list">
        <li>Term and Termination: This Agreement is effective upon the date you first access or use the
            Services and continues until terminated by you or Ugocash. You may terminate this Agreement by
            closing your Ugocash Account at any time by providing a written notice to legal@Ugocash.com. If
            you use the Services again or register for another Ugocash Account, you are consenting to this
            Agreement. We may terminate this Agreement or close your Ugocash Account at any time for any
            reason (including, without limitation, for any activity that may create harm or loss to the
            goodwill of a Payment Method) by providing you Notice. We may suspend your Ugocash Account and
            your ability to access funds in your Ugocash Account, or terminate this Agreement, if (i) we
            determine at our sole discretion that you are ineligible for the Services because of significant
            fraud or credit risk, or any other risks associated with your Ugocash Account; (ii) you use the
            Services in a prohibited manner or otherwise do not comply with any of the provisions of this
            Agreement; (iii) any Law, Payment Method Provider or third party provider requires us to do so;
            or (iv) we are otherwise entitled to do so under this Agreement. Our third-party providers may
            terminate your ability to access their services, at any time and for any reason, in which case
            you will no longer be able to to access their services under this Agreement.
        </li>

        <li>Effects of Termination: Termination does not immediately relieve you of obligations incurred
            by you under this Agreement. Upon termination, you agree to (i) complete all pending
            Transactions, (ii) stop accepting new Transactions, and (iii) immediately remove all Ugocash and
            and any third party service provider logos from your website (unless permitted under a separate
            license with the applicable third party). Your continued or renewed use of the Services after
            all pending Transactions have been processed serves to renew your consent to the terms of this
            Agreement. If you terminate this Agreement, we will pay out any remaining funds owed to you in
            accordance with Part D.
        </li>

        <li>In addition, upon termination you understand and agree that (i) all licenses granted to you by
            Ugocash under this Agreement will end; (ii) subject to Part E.5 we reserve the right (but have
            no obligation) to delete all of your information and account data stored on our servers; (iii)
            we will not be liable to you for compensation, reimbursement, or damages related to your use of
            the Services, or any termination or suspension of the Services or deletion of your information
            or account data; and (iv) you are still liable to us for any Fees or fines, or other financial
            obligation incurred by you or through your use of the Services prior to termination.
        </li>
    </ol>

    <h3 class="sub-section-title">PART C – Ugocash Technology</h3>
    <p>1. API and Developer Dashboard</p>
    <p>Ugocash has developed and provides access to the API that may be used to access the Services. You
        may use the API solely as described in the Documentation to use the Services on websites and
        through the applications identified in your Ugocash Account. You may manage your Ugocash
        Account, connect with other service providers, and enable additional features through the
        Ugocash developer dashboard (“Developer Dashboard”). You may not use the API for any purpose,
        function, or feature not described in the Documentation or otherwise communicated to you by us.
        Due to the nature of the Services, we will update the API and Documentation from time to time
        and may add or remove functionality. We will provide you Notice in the event of material
        changes, deprecations, or removal of functionality from the API so that you may continue using
        the Services with minimal interruption.
    </p>

    <ol class="terms-privacy-list">
        <li>a. We will make publishable and secret API keys for live and test Transactions available to you
            through the Dashboard. Publishable keys identify Transactions with your End Users, and secret
            keys permit any API call to your Ugocash Account. You are responsible for securing your secret
            keys – do not publish or share them with any unauthorized persons. Failure to secure your secret
            keys will increase the likelihood of fraud on your Ugocash Account and potential losses to you
            or your End Users. You should contact usimmediately at security@Ugocash.com if you become aware
            of any unauthorized use of your secret key or any other breach of security regarding the
            Services. We provide more details on proper use of publishable and secret API keys in the
            Documentation. Information on securing your Ugocash Account is available in Part E.
        </li>
    </ol>

    <p>2. Ownership of Ugocash IP</p>
    <p>As between you and Ugocash, Ugocash and its licensors exclusively own all rights, title, and interest
        in the patents, copyrights (including rights in derivative works), moral rights, rights of
        publicity, trademarks or service marks, logos and designs, trade secrets, and other intellectual
        property embodied by, or contained in the API, Services, Developer Dashboard, and Documentation
        (collectively, “Ugocash IP”) or any copies thereof. Ugocash IP is protected by copyright, trade
        secret, patent, and other intellectual property Laws, and all rights in Ugocash IP not expressly
        granted to you in this Agreement are reserved.
    </p>
    <p>You may choose to or we may invite you to submit comments or ideas about improvements to the Service,
        our API, our platform, or any other component of our products or services (“Feedback”). If you
        submit an Idea to us, we will presume that your submission was voluntary, unsolicited by us, and
        delivered to us without any restrictions on our use of the Feedback. You also agree that Ugocash has
        no fiduciary or any other obligation to you in connection with any Feedback you submit to us, and
        that we are free to use your Feedback without any attribution or compensation to you.
    </p>

    <p>3. License</p>
    <p>You are granted a nonexclusive and nontransferable license to electronically access and use the
        Ugocash IP only in the manner described in this Agreement. Ugocash does not sell to you, and you do
        not have the right to sublicense the Ugocash IP. We may make updates to the Ugocash IP or new
        Services available to you automatically as electronically published by Ugocash, but we may require
        action on your part before you may use the Ugocash IP or new Services (including activation through
        the Developer Dashboard, or acceptance of new or additional terms). Ugocash may revoke or terminate
        this licence at any time if you use Ugocash IP in a manner prohibited by this Agreement.</p>
    <p>You may not: (i) claim or register ownership of Ugocash IP on your behalf or on behalf of others;
        (ii) sublicense any rights in Ugocash IP granted by us; (iii) import or export any Ugocash IP to a
        person or country in violation of any country’s export control Laws; (iv) use Ugocash IP in a manner
        that violates this Agreement or Laws; or (v) attempt to do any of the foregoing.</p>

    <p>4. Ugocash Marks; References to Our Relationship</p>
    <p>We may make certain Ugocash logos or marks (“Ugocash Marks”) available for use by you and other users
        to allow you to identify Ugocash as a service provider. To use Ugocash Marks, you must first agree
        to use the Ugocash Marks in accordance with the Ugocash Mark Guidelines. Ugocash may limit or revoke
        your ability to use Ugocash Marks at any time. You may never use any Ugocash Marks or Ugocash IP
        consisting of trademarks or service marks without our express permission, or in a manner that may
        lead people to confuse the origin of your products or services with ours.
    </p>
    <p>During the term of this Agreement, you may publicly identify us as the provider of the Services to
        you and we may publicly identify you as a Ugocash customer. If you do not want us to identify you as
        a customer, please let us know at legal@Ugocash.com. Neither you nor we will imply any untrue
        sponsorship, endorsement, or affiliation between you and Ugocash or its third-party services
        providers. Upon termination of your Ugocash Account, both you and Ugocash will remove any public
        references to our relationship from our respective websites.</p>

    <p>5. Content</p>
    <p>You may use the Services to upload or publish text, images, and other content (collectively,
        “Content”) to your Ugocash Account and to third-party sites or applications but only if you agree to
        obtain the appropriate permissions and, if required, licenses to upload or publish any such Content
        using the Services. You agree to fully reimburse Ugocash for all fees, fines, losses, claims, and
        any other costs we may incur that arise from publishing illegal Content through the Services, or
        claims that Content you published infringes the intellectual property, privacy, or other proprietary
        rights of others.
    </p>
    <p>Other Services: From time to time we may offer you additional features or services either through us
        or our third-party service providers that may be subject to additional or different terms of
        service. All such additional features and services form part of the Services, and you may not use
        these additional services unless you agree to the applicable agreement or terms (if any) for those
        services.
    </p>
    <p>We may also provide you access to services identified as “beta” or pre-release services. You
        understand that these services are still in development, may contain bugs or errors, may be feature
        incomplete, may materially change prior to a full commercial launch, or may never be released
        commercially. We provide beta services AS IS, and without warranty of any kind, and your use of, or
        reliance on beta services is at your own risk.
    </p>

    <h3 class="terms-privacy-list">Part D: Third Party Services</h3>
    <p>Ugocash provides access to third-party services, products, and promotions that utilize, integrate, or
        provide ancillary services to the Services (“Third-Party Services”). These Third-Party Services are
        provided for your convenience only and do not constitute our approval, endorsement, or
        recommendation of any such Third-Party Services for you. You access and use any Third-Party Service
        based on your own evaluation and at your own risk. You understand that your use of any Third-Party
        Service is not governed by this Agreement. If you decide to use a Third-Party Service, you will be
        responsible for reviewing, understanding, and accepting the terms and conditions associated with its
        use. We expressly disclaim all responsibility and liability for your use of any Third-Party Service.
        Please also remember that when you use a Third-Party Service, our Privacy Policy is no longer in
        effect. Your use of a Third-Party Service, including those that have a link on our website, is
        subject to that Third-Party Service’s own terms of use and privacy policies.
    </p>
    <p>Your use of the Services is subject to additional terms that apply between you and one or more of
        Ugocash, a Ugocash affiliate, and a Third-Party Service provider. By using the Services, you agree
        to the applicable terms, including any subsequent updates
    </p>

    <p>Evolve Bank Deposit Agreement: https://www.Ugocash.com/money.com/evolve-bank-deposit-agreement/</p>
    <p>Evolve Electronic Communications Consent and</p>
    <p>Disclosure:
        https://www.Ugocash.com/silamoney.com/evolve-electronic-communications-consent-and-disclosure/</p>
    <p>Plaid: https://plaid.com/legal/</p>
    <p>Alloy: https://alloy.co/legal/</p>

    <p>Additionally, a Third-Party Service may enforce the terms of this Agreement directly against you.</p>

    <p>1. Automated Clearinghouse (ACH)</p>
    <p>The ACH network is controlled and managed by the National Automated Clearinghouse Association (NACHA)
        and its member organizations. Where submitting Charges over the ACH network, you are required to
        comply with the NACHA Operating Rules. NACHA may amend the NACHA Operating Rules at any time, and we
        may amend this Agreement or make changes to the Payment Processing Services as necessary to comply
        with the NACHA Operating Rules.
    </p>
    <p>You understand and accept your role as the Originator (as defined in the NACHA Operating Rules). You
        agree to obtain your End User’s consent to debit or credit their bank account and initiate a Charge
        over the ACH network. Such consent must be in a form and manner that complies with the NACHA
        Operating Rules and the Documentation for ACH Transactions. As with other Payment Processing
        Services, you may not, and may not attempt to send or receive funds to or from a person, entity, or
        state where such Transactions are prohibited by applicable Law. You also agree to maintain the
        security and integrity of all information you collect as part of an ACH Transaction.
    </p>
    <p>Certain services offered as part of the Services are money transmission within the meaning of laws
        that apply to those Services. To the extent that your use of the Services is money transmission or
        similarly regulated services, those Services are provided to you by Evolve Bank not by Ugocash,
        Inc.
    </p>

    <p>2. Processing Transactions; Disputes</p>
    <p>To enable us to process Transactions for you, you authorize and direct us, our affiliates and
        third-party service providers to receive and settle any payment processing proceeds. You appoint
        Ugocash as your agent for the limited purpose of directing, receiving, holding, and settling such
        proceeds. You agree that Ugocash’s or Ugocash’s third party service providers receipt of such
        proceeds satisfies the relevant end-customer’s obligations to make payments to you. We will promptly
        update your Ugocash Account balance to reflect any such proceeds that we receive on your behalf.
    </p>
    <p>Except where Ugocash and a Customer have otherwise agreed, you maintain the direct relationship with
        your End Users and are responsible for: (i) acquiring appropriate consent to submit charges through
        the Service on their behalf; (ii) providing confirmation or receipts to Customers for each
        Transaction; (iii) verifying Customers’ identities; and (iv) determining a Customer’s eligibility
        and authority to complete Transactions. However, even authorized Transactions may be subject to a
        Dispute. Ugocash is not responsible for or liable to you for authorized and completed Transactions
        that are later the subject of a Dispute, Refund, or Reversal, are submitted without authorization or
        in error, or violate any Laws.
    </p>
    <p>You are immediately responsible to us for all disputes, refunds, reversals, returns, or fines
        regardless of the reason or timing. We may decline to act upon a Refund instruction, or delay
        execution of the instruction, if: (i) it would cause your Ugocash Account balance to become
        negative; (ii) you are the subject of Bankruptcy Proceedings; or (iii) where we otherwise believe
        that there is a risk that you will not meet your liabilities under this Agreement.
    </p>
    <p>In many but not all cases, you may have the ability to challenge a dispute by submitting evidence
        through the API or the Dashboard. We may request additional information to provide to our
        third-party service providers to assist you, but we cannot guarantee that your challenge will be
        successful. Please keep in mind that you are liable for all losses you incur when lost or stolen
        payment credentials or accounts are used. Ugocash does not and will not insure you against losses
        caused by fraud under any circumstances.
    </p>

    <p>3. Responsibilities and Disclosures to Your End Users</p>
    <p>It is very important to us that your End Users understand the purpose, amount, and conditions of
        Transactions you submit to us and our third-party service providers. With that in mind, when using
        the Services you agree to: (i) accurately communicate, and not misrepresent, the nature of the
        Transaction, and the amount of the Transaction in the appropriate currency prior to submitting it to
        the API; (ii) provide a receipt that accurately describes each Transaction to Customers; (iii)
        provide End Users a meaningful way to contact you in the event that the product or service is not
        provided as described; (iv) not use the Services to sell products or services in a manner that is
        unfair or deceptive, exposes End Users to unreasonable risks, or does not disclose material terms of
        a purchase in advance; and (v) inform End Users that Ugocash and its third parties process
        Transactions for you.
    </p>
    <p>If you engage in Transactions with End Users who are individuals (i.e. consumers), you specifically
        agree to provide consumers disclosures required by Law, and to not engage in unfair, deceptive, or
        abusive acts or practices (“UDAAP”).
    </p>
</div>
</ion-content>
